 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/g6f064fa8acc1787d381aa82b0c6ac181d5120ed43a723a0f955395f43b97a4e429ff635601dca9379e08f61e59e7b1206d0fba8d91a56bae4289224bd6fc7ee3_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 975px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  
  margin: -100px auto 0 -431px;
  padding: 9px 22px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  
  margin: 259px auto 0 -423px;
  padding: 9px 22px;
}

.u-section-1 .u-text-1 {
  margin: 183px auto 0 108px;
}

.u-section-1 .u-text-2 {
  margin: 29px 124px 0 603px;
}

.u-section-1 .u-text-3 {
  margin: -80px 537px 0 163px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  
  margin: 29px auto 0 305px;
  padding: 9px 22px;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  
  margin: -30px 239px 60px auto;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -275px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 258px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 24px;
    margin-left: 503px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 437px;
    margin-left: 63px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 105px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 337px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 307px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 280px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 311px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 369px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 61px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -112px;
    margin-right: 0;
  }
}